<!doctype html>
<head>
    <title>DraftHub</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    {% block css %}{% endblock %}
</head>

<body>
{% block body %}{% endblock %}

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="application/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% block js %}{% endblock %}
</body>
